body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4faff;
    color: #333;
}

header {
    background-color: #007bff;
    color: white;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

#banner {
    background-color: #e7f1ff;
    padding: 50px 20px;
    text-align: center;
}

.btn {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

section {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
}

.servico {
    margin-bottom: 20px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #007BFF;
    color: white;
}
